
.sixscoty {
   
    width: 100%;
    height: 400px;
    margin-top: 1px;
    background-image: url(../assets/images/info-section.png);
    padding: 20px;
    text-align: center;
}


.scotymodelsix {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
     position: relative;
}

.scotymodelsix:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  margin-left: 530px;
  width: 18%;
  height: 3px;
  background-color: black;
  transition: 0.5s;

}

.sixscoty-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 320px;
}

.sixscoty-table th,
.sixscoty-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
}

.sixscoty-table- th {
  background-color: #f2f2f2;
  color: #333;
}

 

.sixscoty-table- tr:hover {
  background-color: #ddd;
}

.sixscoty-table th,
.sixscoty-table td {
  text-align: left;
}
