
.threescoty {
   
    width: 100%;
    height: 570px;
    margin-top: 1px;
    background-image: url(../assets/Background-images/background4.jpg);
    padding: 20px;
    text-align: center;
}


.scotymodelthree {
    color: black;
    font-family:  cursive;
    font-size: 32px;
    font-weight: 900;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
     position: relative;
}

.scotymodelthree:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  margin-left: 545px;
  width: 17%;
  height: 4px;
  background-color: black;
  transition: 0.5s;

}

.threescoty-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 320px;
  padding: 20px;
  border: 2px solid black;
}

.threescoty-table th,
.threescoty-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
  font-weight: 600;
}

.threescoty-table th {
  background-color: #f2f2f2;
  color: black;
  font-size: 19px;
}

.threescoty-table td {
  color: #333;
} 

.threescoty-table tr:hover {
  background-color: #ddd;
}

.threescoty-table th,
.threescoty-table td {
  text-align: left;
}
