
.onescoty {
   
    width: 100%;
    height: 420px;
    /* margin-top: 1px; */
    background-image: url(../assets/Background-images/background6.jpg);
    padding: 20px;
    text-align: center;
}

    
    
  

.scotymodelone {
    color: black;
    font-family:  cursive;
    font-size: 32px;
    font-weight: 900;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
     position: relative;
}

.scotymodelone:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  margin-left: 540px;
  width: 18%;
  height: 4px;
  background-color: black;
  transition: 0.5s;

}

.onescoty-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 320px;
  padding: 20px;
  border: 2px solid black;
}

.onescoty-table th,
.onescoty-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
  font-weight: 600;
}

.onescoty-table th {
  background-color: #f2f2f2;
  color: black;
  font-size: 19px;
}

.onescoty-table td {
  color: #333;
}
 
 
 
 
 

.onescoty-table tr:hover {
  background-color: #ddd;
}

.onescoty-table th,
.onescoty-table td {
  text-align: left;
}

