 

.price-list-two {
  
    width: 100%;
    height: 400px;
    margin-top: 1px;
    background-image: url(../assets/Background-images/background4.jpg);
    padding: 20px;
    text-align: center;
    /* object-fit: cover; */
}


.carmodeltwo {
    color: black;
    font-family:  cursive;
    font-size: 32px;
    font-weight: 900;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
     position: relative;
}

.carmodeltwo:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  margin-left: 500px;
  width: 24%;
  height: 4px;
  background-color: black;
  transition: 0.5s;

}

.pricelist-two-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 320px;
  padding: 20px;
  border: 2px solid black;
}

.pricelist-two-table th,
.pricelist-two-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
  font-weight: 600;
}

.pricelist-two-table th {
  background-color: #f2f2f2;
  color: black;
  /* font-weight: bold; */
  font-size: 19px;
}

.pricelist-two-table td {
  color: #333;
 }

.pricelist-two-table tr:hover {
  background-color: #ddd;
}

.pricelist-two-table th,
.pricelist-two-table td {
  text-align: left;
}



