
.price-list-eleven {
   
    width: 100%;
    height: 300px;
    margin-top: 1px;
    background-image: url(../assets/images/info-section.png);
    padding: 20px;
    text-align: center;
}


.carmodeleleven {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.carmodeleleven:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  margin-left: 550px;
  transition: 0.5s;
  width: 16%;
  height: 3px;
  background-color: black;
}


.pricelist-eleven-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 320px;
}

.pricelist-eleven-table th,
.pricelist-eleven-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
}

.pricelist-table-eleven th {
  background-color: #f2f2f2;
  color: #333;
}

 

.pricelist-table-eleven tr:hover {
  background-color: #ddd;
}

.pricelist-eleven-table th,
.pricelist-eleven-table td {
  text-align: left;
}