
.price-list-twelve {
  
    width: 100%;
    height: 300px;
    /* margin-top: 1px; */
    background-image: url(../assets/images/leaf.jpg);
    padding: 20px;
    text-align: center;
}


.carmodeltwelve {
    color: black;
    font-family: cursive;
    font-size: 32px;
    font-weight: 900;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.carmodeltwelve:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  margin-left: 500px;
  width: 24%;
  height: 4px;
  background-color: black;
  transition: 0.5s;
}


.pricelist-twelve-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 320px;
  border: 2px solid black;
  padding: 20px;
}

.pricelist-twelve-table th,
.pricelist-twelve-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
  font-weight: 600;
}

.pricelist-twelve-table th {
  background-color: #f2f2f2;
  color: black;
  font-size: 19px;
}

.pricelist-twelve-table td {
  color:#333;
}

 

.pricelist-twelve-table tr:hover {
  background-color: #ddd;
}

.pricelist-twelve-table th,
.pricelist-twelve-table td {
  text-align: left;
}