 
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

.geologica-regular {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight:  600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 

.dm-sans-hello {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

 
 
 
 
 .about-company {
     width: 100%;
     height: 750px;
     background-color:  #ffffff;
     margin-top: 90px;
     display: grid;
     grid-template-columns: 1fr 1fr;
       /* background-color: #f0f8ff; */
       
 }

 .about-leftbox {
     width: 100%;
     height: 700px;
     /* padding: 20px; */
     margin-top: 60px;
     border-radius: 20px;
     margin-left: 40px;
  
 }

 .about-leftbox img {
   aspect-ratio: 1/1;
   /* mix-blend-mode: color; */
   object-fit: contain;
   filter: drop-shadow(0 0 8px #004b23);
   border-radius: 20px;
   margin-top: 40px;
 }

.about-leftbox img:hover {
   filter: drop-shadow(0 0 12px #004b23);

 }

 .about-rightbox {
     width: 100%;
     height: 700px;
     /* padding: 20px; */
     padding-right: 110px;
     
     
 }

 .about-upperrightbox {
     width: 100%;
     height: 100px;
     /* border: 2px solid #001219; */
     border-radius: 10px;
     filter: drop-shadow(0 0 6px #004b23);
     background-color: #f8f9fa;
     display: flex;
     gap: 30px;
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

 }

.about-upperrightbox img {
    width: 80px;
    height: 100px;
    object-fit: contain;
    border-radius: 20px;
}

.about-upperrightbox:hover {
    filter: drop-shadow(0 0 10px #004b23);
    border: 1.8px solid #001219;
}

 .about-lowerrightbox {
     width: 100%;
     height: 480px;
     
     border-radius: 10px;
     margin-top: 30px;
     filter: drop-shadow(0 0 6px #004b23);
     background-color: #f8f9fa;
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

 }

 .about-lowerrightbox:hover {
    filter: drop-shadow(0 0 10px #004b23);
    border: 1.8px solid #001219;
}

 .about-upperrightboxheading {
   font-size: 32px;
   font-weight: 600;
   font-family: cursive;
   color: #001219;
   /* text-align: center; */
   padding: 20px;
   letter-spacing: 2px;
   margin-left: 160px;
   /* margin-top: 20px; */
   display: inline-block;
   /* animation-iteration-count: infinite; */
 }
  
 .about-lowerrightboxheading {
   font-size: 20px;
   font-weight: 400;
   /* font-family:  sans-serif; */
   text-align: start;
   padding: 30px;
   letter-spacing: 1px;
    color: #000000;
    
 
 }
 
 
 
 

 