.whatwedo {
     width: 100%;
    height: 1160px;
    /* margin-top: 2px; */
    background-color: #F0F8FF;
    position: relative;
}
.whatwedo-image {
    width: 100%;
    height: 200px;
     padding-top: 20px;
     margin-left: 500px ;  
}
.whatwedo-image img {
    width: 25%;
    height: 130px;
    border-radius: 50px;
    box-shadow: 6px 6px 8px #004b23;
}
.whatwedo-heading {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:cursive;
    font-weight: 800;
    text-align: center;
    letter-spacing: 2px;
    color: #F0F8FF;
    font-size: 42px;
    padding: 20px;
}

.upper-box {
    width: 100%;
    height: 290px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
  
    gap: 30px;
}

.upper-left {
width: 100%;
height: 250px;
background-color: #F0F8FF;
border-radius: 12px;
box-shadow: 0 0 8px 2px #004b23;
border: 2px solid #004b23;
 
}

.upper-left:hover {
    box-shadow: 0 0 8px 3px #001219;
    border: 2px solid #001219;
}

.upper-left-heading {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: cursive;
    color: #001219;
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 20px;
    /* letter-spacing: 1px; */
}

.upper-left-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    letter-spacing: 1px;
    text-align: start;
}

.upper-right {
    width: 100%;
    height: 250px;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #004b23;
    border: 2px solid #004b23;
   
    
}

.upper-right:hover {
    box-shadow: 0 0 8px 3px #001219;
    border: 2px solid #001219;
}


.upper-right-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 30px;
    /* letter-spacing: 1px; */
}

.upper-right-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    /* letter-spacing: 1px; */
    text-align: start;
}

.upper-middle {
    width: 100%;
    height: 250px;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #004b23;
    border: 2px solid #004b23;
    
}

.upper-middle:hover {
    box-shadow: 0 0 8px 3px #001219;
border: 2px solid #001219;
}

.upper-middle-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 30px;
    letter-spacing: 1px;
}

.upper-middle-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.middle-box {
    width: 100%;
    height: 290px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 30px;
}

.middle-left {
    width: 100%;
    height: 250px;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #004b23;
    border: 2px solid #004b23;
    
}

.middle-left:hover {
    box-shadow: 0 0 8px 3px #001219;
    border: 2px solid #001219;
}

.middle-left-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 30px;
    letter-spacing: 1px;
}

.middle-left-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.middle-right {
    width: 100%;    
    height: 250px;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #004b23;
    border: 2px solid #004b23;
  
}
.middle-right:hover {
    box-shadow: 0 0 8px 3px #001219;
    border: 2px solid #001219;
}
.middle-right-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 30px;
    letter-spacing: 1px;
}

.middle-right-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.lower-box {
    width: 100%;
    height: 290px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 30px;
}

.lower-left {
    width: 100%;
    height: 250px;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #004b23;
    border: #004b23 solid 2px;
    
}
.lower-left:hover {
    box-shadow: 0 0 8px 3px #001219;
    border: 2px solid #001219;
}
.lower-left-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 30px;
    letter-spacing: 1px;
}

.lower-left-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.lower-right {
    width: 100%;
    height: 250px;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #004b23;
    border: 2px solid #004b23;
}
.lower-right:hover {
    box-shadow: 0 0 8px 3px #001219;
    border: 2px solid #001219;
}
.lower-right-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 30px;
    letter-spacing: 1px;
}

.lower-right-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.lower-middle {
    width: 100%;
    height: 250px;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px #004b23;
    border: 2px solid #004b23;
}
.lower-middle:hover {
    box-shadow: 0 0 8px 3px #001219;
    border: 2px solid #001219;
}
.lower-middle-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 30px;
    letter-spacing: 1px;
}

.lower-middle-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}