.whatwedo {
     width: 100%;
    height: 1540px;
    /* margin-top: 2px; */
    background-color: #F0F8FF;
    position: relative;
}
.whatwedo-image {
    width: 100%;
    height: 200px;
     padding-top: 20px;
     margin-left: 500px ;  
}
.whatwedo-image img {
    width: 25%;
    height: 130px;
    border-radius: 50px;
    box-shadow: 4px 4px 8px #242423;
}
.whatwedo-heading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:cursive;
    font-weight: 800;
    text-align: center;
    letter-spacing: 2px;
    color: #F0F8FF;
    font-size: 42px;
    padding: 20px;
}

.upper-box {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 20px; */
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 35px;
    /* gap: 10px; */
}

.upper-left {
width: 90%;
height: 400px;
background-color: #f8f9ff;
border-radius: 12px;
/* box-shadow: 0 0 8px 2px #004b23; */
border: 2px solid #004b23;
filter: drop-shadow(0 0 6px #004b23);
 
}

.upper-left:hover {
    filter: drop-shadow(0 0 12px #004b23);
}

.upper-left-heading {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: cursive;
    color: #001219;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
     
    padding-left: 40px;
    padding-right: 20px;
    /* letter-spacing: 1px; */
}

.upper-left-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.upper-right {
    width: 90%;
    height: 400px;
    background-color: #f9f8ff;
    border-radius: 12px;
    /* box-shadow: 0 0 8px 2px #004b23; */
    border: 2px solid #004b23;
    filter: drop-shadow(0 0 6px #004b23);
   
    
}

.upper-right:hover {
    filter: drop-shadow(0 0 12px #004b23);
}


.upper-right-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
}

.upper-right-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    /* letter-spacing: 1px; */
    text-align: start;
}

.upper-middle {
    width: 90%;
    height: 400px;
    background-color: #f8f9ff;
    border-radius: 12px;
    /* box-shadow: 0 0 8px 2px #004b23; */
    border: 2px solid #004b23;
    filter: drop-shadow(0 0 6px #004b23);
    
}

.upper-middle:hover {
    filter: drop-shadow(0 0 12px #004b23);
}

.upper-middle-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    /* padding-left: 40px; */
    text-align: center;
    letter-spacing: 1px;
}

.upper-middle-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.middle-box {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 40px;
    /* padding: 20px; */
    gap: 10px;
}

.middle-left {
    width: 95%;
    height: 300px;
    background-color: #f8f9ff;
    border-radius: 12px;
    /* box-shadow: 0 0 8px 2px #004b23; */
    border: 2px solid #004b23;
    filter: drop-shadow(0 0 6px #004b23);
    
}

.middle-left:hover {
    filter: drop-shadow(0 0 12px #004b23);
}

.middle-left-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 15px;
    /* padding-left: 30px; */
    text-align: center;
    letter-spacing: 1px;
}

.middle-left-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    /* padding-bottom: 20px; */
    letter-spacing: 1px;
    text-align: start;
}

.middle-right {
    width: 95%;    
    height: 300px;
    background-color: #f9f8ff;
    border-radius: 12px;
    /* box-shadow: 0 0 8px 2px #004b23; */
    border: 2px solid #004b23;
    filter: drop-shadow(0 0 6px #004b23);
}
.middle-right:hover {
    filter: drop-shadow(0 0 12px #004b23);
}
.middle-right-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 15px;
    /* padding-left: 30px; */
    text-align: center;
    /* letter-spacing: 1px; */
}

.middle-right-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.lower-box {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 70px;
    padding-right: 35px;
    padding-top: 50px;
    /* padding: 20px; */
    /* gap: 30px; */
}

.lower-left {
    width: 90%;
    height: 400px;
    background-color: #f8f9ff;
    border-radius: 12px;
    /* box-shadow: 0 0 8px 2px #004b23; */
    border: #004b23 solid 2px;
    filter: drop-shadow(0 0 6px #004b23);
    
}
.lower-left:hover {
    filter: drop-shadow(0 0 12px #004b23);
}
.lower-left-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 25px;
    /* padding-left: 30px; */
    text-align: center;
    letter-spacing: 1px;
}

.lower-left-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.lower-right {
    width: 90%;
    height: 400px;
    background-color: #f9f8ff;
    border-radius: 12px;
    /* box-shadow: 0 0 8px 2px #004b23; */
    border: 2px solid #004b23;
    filter: drop-shadow(0 0 6px #004b23);
}
.lower-right:hover {
    filter: drop-shadow(0 0 12px #004b23);
}
.lower-right-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
}

.lower-right-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.lower-middle {
    width: 90%;
    height: 400px;
    background-color: #f8f9ff;
    border-radius: 12px;
    /* box-shadow: 0 0 8px 2px #004b23; */
    border: 2px solid #004b23;
    filter: drop-shadow(0 0 6px #004b23);
}
.lower-middle:hover {
    filter: drop-shadow(0 0 12px #004b23);
}
.lower-middle-heading {
    font-family:  cursive;
    color: #001219;
    font-size: 32px;
    font-weight: 600;
    padding-top: 25px;
    /* text-align: center; */
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
}

.lower-middle-para {
    font-family: 'Times New Roman', Times, serif;
    color: #001219;
    font-size: 18px;
    font-weight: 100;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    letter-spacing: 1px;
    text-align: start;
}


.upper-box img {
   padding-top: 20px;
    margin-left: 150px;
}

.middle-box img {
    padding-top: 20px;
     margin-left: 250px;
 }

 .lower-box img {
    padding-top: 20px;
     margin-left: 150px;
 }