.copyright {
    height: 35px;
    width: 100%;
    background-color: #008870;
    margin-top: 1px;
}


.copyright-text {
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: #001219;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    justify-content: center;
}