.footer {
  width: 100%;
  height: 500px;
  background-color: #001219;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

/* .footer1-heading, */
.footer2-heading,
.footer3-heading,
.footer4-heading
{
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: cursive;
  text-align: center;
  margin-top: 90px;
  position: relative;
}

.footer1-heading {
font-size: 36px;
color: #ffffff;
font-family: 600;
letter-spacing: 2px;
font-family: sans-serif;
text-align: center;
margin-top: 50px;
position: relative;
}

/* .footer1-heading:after, */
.footer2-heading:after,
/* .footer3-heading:after, */
.footer4-heading:after
{
content: "";
position: absolute;
background-color: #ffffff;
height: 2px;
width: 30%;
bottom: -4px;
left: 35%;
}

.footer3-heading:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 40%;
  bottom: -4px;
  left: 30%;
}


.footer1-content {
  display: flex;
  flex-direction: column;
}

.footer1-content img {
  width: 200px;
  height: 200px;
  /* aspect-ratio: 3/2; */
  object-fit: contain;
  border-radius: 10px;
  margin-top: 40px;
  left: 20%;
  position: relative;
  /* top: 40%; */
}

.footer1-content p{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 40px;
  text-align: start;
  position: relative;
  left: 10%;
  justify-content: center;
  align-items: center;
}
 

.footer2-content
 {
  font-family: sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  align-items: center;
  text-align: start;
  justify-content: center;
  position: relative;
  /* left: 25%; */
  /* column-gap: 30px; */
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  letter-spacing: 1px;
}

.footer3-content {
  font-family: sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
 /* left: 20%; */
 display: flex;
 flex-direction: column;
 row-gap: 10px;
 letter-spacing: 1px;
}

.footer2-content li:hover,
.footer3-content li:hover 
{
  text-decoration: underline;
}

.footer4-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 20px;
}

.social-icon {
  width: auto;
  height: 50px;
  color: #ffffff;
}

.social-icon:hover {
  filter: drop-shadow(1px 1px 2px #ffffff);
}