.footer {
  width: 100%;
  height: 500px;
  /* background-color: darkgray; */
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 20px;
  /* padding-right: 20px; */
  background-color: #008870;
  margin-top: 1px;
}

/* .footer1-heading, */
.footer2-heading,
.footer3-heading,
.footer4-heading,
.footer5-heading
{
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  font-family: cursive;
  text-align: center;
  margin-top: 90px;
  position: relative;
  /* margin-left: 20px; */
}

.footer1-heading {
font-size: 40px;
color: #000000;
font-family: 900;
letter-spacing: 2px;
font-family: cursive;
text-align: center;
margin-top: 70px;
position: relative;
}

.footer2-heading:after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 2px;
  width: 50%;
  bottom: -4px;
  left: 25%;
}
/* .footer1-heading:after, */
/* .footer2-heading:after, */
.footer5-heading:after,
.footer4-heading:after
{
content: "";
position: absolute;
background-color: #000000;
height: 2px;
width: 30%;
bottom: -4px;
left: 35%;
}

.footer3-heading:after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 2px;
  width: 50%;
  bottom: -4px;
  left: 25%;
}


.footer1-content {
  display: flex;
  flex-direction: column;
}

.footer1-content img {
  width: 200px;
  height: 200px;
  aspect-ratio: 3/2;
  object-fit: contain;
  border-radius: 10px;
  margin-top: 20px;
  left: 15%;
  position: relative;
  mix-blend-mode: color-burn;

  /* top: 40%; */
}

.footer1-content p{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  color: #000000;
  letter-spacing: 2px;
  /* margin-top: 40px; */
  text-align: start;
  position: relative;
  left: 20%;
  justify-content: center;
  align-items: center;
}
 

.footer2-content,
.footer4-content
 {
  font-family: sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  align-items: start;
  text-align: start;
  justify-content: center;
  position: relative;
  left: 30%;
  /* column-gap: 30px; */
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  letter-spacing: 1px;
}

.footer3-content {
  font-family: sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  align-items: start;
  text-align: start;
  justify-content: center;
  position: relative;
 left: 30%;
 display: flex;
 flex-direction: column;
 row-gap: 10px;
 letter-spacing: 1px;
}

.footer2-content li:hover,
.footer3-content li:hover,
.footer4-content li:hover
{
  text-decoration: underline;
}

.footer5-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 20px;
}

.social-icon {
  width: auto;
  height: 50px;
  color: #000000;
}

.social-icon:hover {
  filter: drop-shadow(1px 1px 2px #ffffff);
}

.footer4-heading{
  left: -10%;
}