@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 

.geologica-brands {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight:  600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}


.gotobrands {
    /* background-image: url(../assets/images/price.png); */
    width: 100%;
    height: 1420px;
    /* padding-top: 60px; */
    background-color: #ffffff;
    position: relative;
    /* background-color: #ffffff ; */
}

.heading-image {
    width: 70%;
    height: 180px;
  margin-top: -20px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    left: 17%;
    /* margin-left: 220px; */
    /* box-shadow: 4px 4px 8px #242423; */
    /* filter: drop-shadow(0 0 12px #004b23); */
}


 .brand-heading {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:cursive;
    font-weight: 600;
    text-align: start;
    letter-spacing: 2px;
    color: #F0F8FF;
    font-size: 40px;
    padding: 10px;
 }
 
 .brand-subheading {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-family:sans-serif; */
    font-weight: 200;
    text-align: start;
    /* letter-spacing: 1px; */
    color: #F0F8FF;
    font-size: 20px;
    padding: 10px;
 }
 

.quoteone {
    position: relative;
    font-size: 34px;
    font-weight: 600;
    color: #001219;
    /* font-family: cursive; */
    /* text-align: center; */
    left: 7%;
    margin-top: 90px;
      display: inline-block;
  margin: 1 0.5rem;
  /* margin-left: 90px; */
}

    .marquee-container {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Space between slides */
    margin-top: 90px;
    /* background-color: #F0F8FF; */
}

.marquee-slide {
    overflow: hidden; /* Hide overflow to prevent images from showing outside the container */
    width: 100%;
}

.marquee-content {
    display: flex;
    /* Set this to ensure that there are enough images for a seamless effect */
    width: calc(100% * 1); /* Ensure enough space for the repeat */
    animation-duration: 4s;
    animation-timing-function: linear;
}

/* Animation for Slide 1 (moving left) */
.marquee-slide:nth-child(1) .marquee-content {
    animation: scroll-left 30s linear infinite; /* Specify the direction */
}

 
.marquee-slide:nth-child(2) .marquee-content {
    animation: scroll-left 30s linear infinite; /* Specify the direction */
}

/* Animation for Slide 3 (moving left) */
.marquee-slide:nth-child(3) .marquee-content {
    animation: scroll-left 30s linear infinite; /* Specify the direction */
}

/* Common styles for images */
.marquee-content img {
    width: 120px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 50px; /* Space between images */
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: screen;
}

/* Keyframes for scrolling left */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%); /* Move left by the full width of the content */
    }
}

 

/* Add a second instance of the images to create the looping effect */
.marquee-content::after {
    content: '';
    display: flex;
    /* Copy the logos so they can be shown */
    flex: 1 0 auto; /* Allow this to take up space */
}

/* Ensure that we have enough images for scrolling for Slide 1 */
.marquee-slide:nth-child(1) .marquee-content::after {
    animation: scroll-left 30s linear infinite; /* Repeat left scrolling */
}

/* Ensure that we have enough images for scrolling for Slide 2 */
.marquee-slide:nth-child(2) .marquee-content::after {
    animation: scroll-left 30s linear infinite; /* Repeat right scrolling */
}

/* Ensure that we have enough images for scrolling for Slide 3 */
.marquee-slide:nth-child(3) .marquee-content::after {
    animation: scroll-left 30s linear infinite; /* Repeat left scrolling */
}


.cart {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
    margin-left: 22px;
    margin-right: 20px;
    /* gap: 0.2px; */
    justify-content: space-evenly;
}

.cart1 {
    height: 400px;
    width: 300px;
    /* background-color: #f8f9fa; */
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    /* box-shadow: 5px 5px 5px #004b23; */
    filter: drop-shadow(0 0 8px #004b23);
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}

.cart1-text p {
    font-weight: 300;
   /* font-family: sans-serif; */
   text-align: center;
}

.cart1-img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    
}

 
.cart1:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart2 {
    height: 400px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    filter: drop-shadow(0 0 8px #004b23);
    /* box-shadow: 5px 5px 5px #004b23; */
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}

.cart2-text p {
    font-weight: 300;
    /* font-family: sans-serif; */
    text-align: center;
}

.cart2-img {
    width: 240px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    margin-left: 20px;
    
}

 

.cart2:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart3 {
    height: 400px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    filter: drop-shadow(0 0 8px #004b23);
    /* box-shadow: 5px 5px 5px #004b23; */
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}

.cart3-text p {
    font-weight: 300;
    /* font-family: sans-serif; */
    text-align: center;
}

.cart3-img {
    width: 220px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    margin-left: 25px;
    
}

 

.cart3:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart4 {
    height: 400px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    filter: drop-shadow(0 0 8px #004b23);
    /* box-shadow: 5px 5px 5px #004b23; */
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.cart4-text p {
    font-weight: 300;
    /* font-family: sans-serif; */
    text-align: center;
}

.cart4-img {
    width: 280px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    
}

 

.cart4:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart1-text {
    padding: 12px;
    color: #001219;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.cart2-text {
    padding: 12px;
    color: #001219;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.cart3-text {
    padding: 12px;
    color: #001219;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}

.cart4-text {
    padding: 12px;
    color: #001219;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 500;
}

.explore1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    /* font-family: cursive; */
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    /* font-family: cursive; */
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    /* font-family: cursive; */
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    /* font-family: cursive; */
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore1:hover {
    text-decoration: underline;
}
.explore2:hover {
    text-decoration: underline;
}
.explore3:hover {
    text-decoration: underline;
}
.explore4:hover {
    text-decoration: underline;
}

.arrow {
    margin-left: 7px;
    font-size: 18px;
}


 

 


 .uparrowfixed {
  position: fixed; /* Ensure the icon stays fixed in the viewport */
  bottom: 20px;    /* Position it 20px from the bottom */
  right: 4px;     /* Position it 20px from the right */
  height: 40px;    /* Adjust the size as needed */
  width: 40px;     /* You can also specify the width for consistency */
  z-index: 999;    /* Ensure the icon is above other content */
  display: inline-block;
  /* animation-iteration-count: infinite; */
}

.effect3d {
    animation-name: effect3d;
    animation-duration: 1s; /* Adjust duration as needed */
    animation-fill-mode: forwards; /* Keeps the final state of the animation */
}

@keyframes effect3d {
    to {
        text-shadow: 
            0 1px 0 #ccc, 
            0 2px 0 #c9c9c9, 
            0 3px 0 #bbb, 
            0 4px 0 #b9b9b9, 
            0 5px 0 #aaa, 
            0 6px 1px rgba(0, 0, 0, .1), 
            0 0 5px rgba(0, 0, 0, .1), 
            0 1px 3px rgba(0, 0, 0, .3), 
            0 3px 5px rgba(0, 0, 0, .2), 
            0 5px 10px rgba(0, 0, 0, .25), 
            0 10px 10px rgba(0, 0, 0, .2), 
            0 20px 20px rgba(0, 0, 0, .15);
    }
}