.gotobrands {
    /* background-image: url(../assets/images/price.png); */
    width: 100%;
    height: 930px;
    padding-top: 45px;
    background-color: #f2f3f4;
    position: relative;
    /* background-color: #ffffff ; */
}

.heading-image {
    width: 70%;
    height: 180px;
  
    border-radius: 10px;
    margin-left: 220px;
    box-shadow: 4px 4px 8px #242423;
    /* filter: drop-shadow(0 0 12px #004b23); */
}


 .brand-heading {
    position: absolute;
    top: 12%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family:cursive;
    font-weight: 600;
    text-align: start;
    letter-spacing: 2px;
    color: #F0F8FF;
    font-size: 40px;
    padding: 10px;
 }
 
 .brand-subheading {
    position: absolute;
    top: 18%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family:sans-serif;
    font-weight: 200;
    text-align: start;
    /* letter-spacing: 1px; */
    color: #F0F8FF;
    font-size: 20px;
    padding: 10px;
 }
 

.quoteone {
    font-size: 32px;
    font-weight: 600;
    color: #001219;
    font-family: cursive;
    text-align: center;
    margin-top: 35px;
      display: inline-block;
  margin: 1 0.5rem;
  margin-left: 90px;
}

.cart {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 60px;
    margin-left: 22px;
    margin-right: 20px;
    /* gap: 0.2px; */
    justify-content: space-evenly;
}

.cart1 {
    height: 400px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    /* box-shadow: 5px 5px 5px #004b23; */
    filter: drop-shadow(0 0 8px #004b23);
 background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.cart1-text {
    font-weight: 500;
   
}

.cart1-img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    
}

 
.cart1:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart2 {
    height: 400px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    filter: drop-shadow(0 0 8px #004b23);
    /* box-shadow: 5px 5px 5px #004b23; */
 background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.cart2-text {
    font-weight: bold;
}

.cart2-img {
    width: 240px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    margin-left: 20px;
    
}

 

.cart2:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart3 {
    height: 400px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    filter: drop-shadow(0 0 8px #004b23);
    /* box-shadow: 5px 5px 5px #004b23; */
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.cart3-text {
    font-weight: bold;
}

.cart3-img {
    width: 220px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    margin-left: 25px;
    
}

 

.cart3:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart4 {
    height: 400px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    filter: drop-shadow(0 0 8px #004b23);
    /* box-shadow: 5px 5px 5px #004b23; */
 background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.cart4-text {
    font-weight: bold;
}

.cart4-img {
    width: 280px;
    height: 200px;
    border-radius: 8px;
    padding: 4px;
    object-fit: contain;
    
}

 

.cart4:hover {
  filter: drop-shadow(0 0 12px #004b23);
  border: 1.8px solid #001219;
}

.cart1-text {
    padding: 12px;
    color: #001219;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.cart2-text {
    padding: 12px;
    color: #001219;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.cart3-text {
    padding: 12px;
    color: #001219;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.cart4-text {
    padding: 12px;
    color: #001219;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.explore1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    font-family: cursive;
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    font-family: cursive;
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    font-family: cursive;
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore4 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 18px;
    color: black;
    font-family: cursive;
    font-weight: 500;
    display: inline-block;
    /* animation-iteration-count: infinite; */
}

.explore1:hover {
    text-decoration: underline;
}
.explore2:hover {
    text-decoration: underline;
}
.explore3:hover {
    text-decoration: underline;
}
.explore4:hover {
    text-decoration: underline;
}

.arrow {
    margin-left: 7px;
    font-size: 18px;
}


.emoji {
    align-items: center;
    justify-content: center;
    margin-left: 640px;
    gap: 25px;
    height: 20px;
    width: 50px;
    /* bottom: 20px; */
    display: flex;
}

.emojis {
    font-size: 30px;
    color: #001219;
}

.emojis:hover {
    font-size: 40px ;
}


 .uparrowfixed {
  position: fixed; /* Ensure the icon stays fixed in the viewport */
  bottom: 20px;    /* Position it 20px from the bottom */
  right: 4px;     /* Position it 20px from the right */
  height: 40px;    /* Adjust the size as needed */
  width: 40px;     /* You can also specify the width for consistency */
  z-index: 999;    /* Ensure the icon is above other content */
  display: inline-block;
  /* animation-iteration-count: infinite; */
}

.effect3d {
    animation-name: effect3d;
    animation-duration: 1s; /* Adjust duration as needed */
    animation-fill-mode: forwards; /* Keeps the final state of the animation */
}

@keyframes effect3d {
    to {
        text-shadow: 
            0 1px 0 #ccc, 
            0 2px 0 #c9c9c9, 
            0 3px 0 #bbb, 
            0 4px 0 #b9b9b9, 
            0 5px 0 #aaa, 
            0 6px 1px rgba(0, 0, 0, .1), 
            0 0 5px rgba(0, 0, 0, .1), 
            0 1px 3px rgba(0, 0, 0, .3), 
            0 3px 5px rgba(0, 0, 0, .2), 
            0 5px 10px rgba(0, 0, 0, .25), 
            0 10px 10px rgba(0, 0, 0, .2), 
            0 20px 20px rgba(0, 0, 0, .15);
    }
}