@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 

.geologica-price {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight:  600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}


.gotoprice {
   width: 100%;
  height: 1400px;
  margin-top: 35px;
  position: relative;
  background-color: #ffffff;
 
}

 

.heading-imagetwo {
    width: 70%;
    height: 180px;
  margin-top: 120px;
    border-radius: 10px;
    /* margin-left: 200px; */
    align-items: center;
    left: 17%;
    position: relative;
    /* box-shadow: 4px 4px 8px #242423; */
} 


 .gotoprice-heading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:cursive;
    font-weight: 600;
    text-align: start;
    letter-spacing: 2px;
    color: #F0F8FF;
    font-size: 40px;
    padding: 10px;
}
 
 .gotoprice-subheading {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-family:sans-serif; */
    font-weight: 200;
    text-align: start;
    /* letter-spacing: 2px; */
    color: #F0F8FF;
    font-size: 20px;
    padding: 10px;
}
 
.quotetwo {
    font-size: 36px;
    color: #001219;
    /* font-family:  cursive; */
    font-weight: 600;
     text-align: center;
    margin-top: 15px;
     display: inline-block;
  margin: 1 0.5rem;
  position: relative;
  left: 20%;
}

.divider-price {
    margin-left: 8px;
}

.price-illustration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.price-illustration img {
    width: auto;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}
   .marq5 {
    position: relative;
    height: 100px;
    width:100px ;
    top: -16%;
    left: 20%;
    filter: drop-shadow(0 0 8px #f2f3f4);
   }

   .marq6 {
    position: relative;
    left: 55%;
    top: 10%;
   }

 
.box {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 40px; */
    margin-top: 60px;
    margin-left: 22px;
    margin-right: 20px;
    justify-content: space-evenly
}

.box1{
    width: 300px;
    height: 400px;
 
    /* margin-left: 280px; */
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    /* box-shadow: 0 0 6px 3px #004b23; */
    filter: drop-shadow(0 0 8px #004b23);
   
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

 
}

.box1:hover {
    filter: drop-shadow(0 0 12px #004b23);
    border: 1.8px solid #001219;
}

.box1-img {
    width: 300px;
   
    height: 200px;
   
    padding: 2px;
    object-fit: contain;
    
}

 

.box2-img {
    width: 240px;
   margin-left: 20px;
   /* margin-top: 10px; */
    height: 200px;
   
    padding: 4px;
    object-fit: contain;
    
}
 
.box3-img {
    width: 220px;
    /* margin-top: 5px; */
    margin-left: 25px;
    height: 200px;
    
    padding: 4px;
    object-fit: contain;
}
 
.box4-img {
    width: 280px;
    /* margin-top: 30px; */
    /* margin-right: 40px; */
    height: 200px;
    
    padding: 4px;
    object-fit: contain;
}

 

 

.box2 {
    width: 300px;
    height: 400px;
  
    background-color: #f8f9fa;
   
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    
    filter: drop-shadow(0 0 8px #004b23);
  
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

 
}

.box2:hover {
    filter: drop-shadow(0 0 12px #004b23);
    border: 1.8px solid #001219;
} 

.box3{
    width: 300px;
    height: 400px;
    
    background-color: #f8f9fa;
  
    /* margin-left: 280px; */
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    
    filter: drop-shadow(0 0 8px #004b23);
   
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}
 
.box3:hover {
    filter: drop-shadow(0 0 12px #004b23);
    border: 1.8px solid #001219;
}

.box4{
    width: 300px;
    height: 400px;
    
    background-color: #f8f9fa;
  
  
    border-radius: 10px;
    /* border: 1.8px solid #001219; */
    
    filter: drop-shadow(0 0 8px #004b23);
 
  background-color: #f0f8ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
 
.box4:hover {
    filter: drop-shadow(0 0 12px #004b23);
    border: 1.8px solid #001219;
}
 
.content1 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
    /* margin-left: 30px; */
    /* margin-right: 25px; */
    padding: 20px;
    text-align: start;
}
.button1 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    width: 120px;
    padding: 3px;
    border: 1.8px solid #001219;
    border-radius: 8px;
    /* margin-top: 30px; */
    /* margin-left: 110px; */
    background-color: #f0f8ff;
    letter-spacing: 1px;
    box-shadow: 3px 3px 5px #004b23;
 
    position: relative;
    left: 30%;
   margin-top: 10px;
}

.button1:hover {
    background-color: #001219;
    color: #F0F8FF;
    border: 1px solid #F0F8FF;
     
}

 

.content2 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    /* margin-left: 30px; */
    /* margin-right: 22px; */
    /* margin-top: 20px; */
    padding: 20px;

}

.button2 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    width: 120px;
    padding: 3px;
    border: 1.8px solid #001219;
    border-radius: 8px;
    margin-top: 10px;
    /* margin-left: 110px; */
    background-color: #f0f8ff;
    letter-spacing: 1px;
    box-shadow: 3px 3px 5px #004b23;
    position: relative;
    left: 30%;
}

.button2:hover {
    background-color: #001219;
    color: #F0F8FF;
    border: 1px solid #F0F8FF;
}

 

.content3 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
    /* margin-top: 60px; */
    /* margin-left: 30px; */
    /* margin-right: 20px; */
    padding: 20px;
}

.button3 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    width: 120px;
    padding: 3px;
    border: 1.8px solid #001219;
    border-radius: 8px;
    margin-top: 10px;
    /* margin-left: 110px; */
    background-color: #f0f8ff;
    letter-spacing: 1px;
    box-shadow: 3px 3px 5px #004b23;

    position: relative;
    left: 30%;
}

.button3:hover {
    background-color: #001219;
    color: #F0F8FF;
    border: 1px solid #F0F8FF;
}


 

.content4 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
    /* margin-top: 10px; */
    /* margin-left: 30px; */
    /* margin-right: 20px; */
    padding: 15px;
}

.button4 {
    color: #001219;
    /* font-family:  sans-serif; */
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    width: 120px;
    padding: 3px;
    border: 1.8px solid #001219;
    border-radius: 8px;
    margin-top: 20px;
    /* margin-left: 110px; */
    background-color: #f0f8ff;
    letter-spacing: 1px;
    box-shadow: 3px 3px 5px #004b23;

    position: relative;
    left: 30%;
}

.button4:hover {
    background-color: #001219;
    color: #F0F8FF;
    border: 1px solid #F0F8FF;
}

  

.effect3d {
    animation-name: effect3d;
    animation-duration: 1s; /* Adjust duration as needed */
    animation-fill-mode: forwards; /* Keeps the final state of the animation */
}

@keyframes effect3d {
    to {
        text-shadow: 
            0 1px 0 #ccc, 
            0 2px 0 #c9c9c9, 
            0 3px 0 #bbb, 
            0 4px 0 #b9b9b9, 
            0 5px 0 #aaa, 
            0 6px 1px rgba(0, 0, 0, .1), 
            0 0 5px rgba(0, 0, 0, .1), 
            0 1px 3px rgba(0, 0, 0, .3), 
            0 3px 5px rgba(0, 0, 0, .2), 
            0 5px 10px rgba(0, 0, 0, .25), 
            0 10px 10px rgba(0, 0, 0, .2), 
            0 20px 20px rgba(0, 0, 0, .15);
    }
}