.gotoprice {
  /* background-image: url(../assets/images/gotoprice.png);   */
  background-color: #F0F8FF;
  width: 100%;
  height: 1600px;
  padding-top: 50px;
  position: relative;
}

 

.heading-imagetwo {
    width: 70%;
    height: 180px;
  
    border-radius: 40px;
    margin-left: 220px;
    box-shadow: 6px 6px 8px #004b23;
} 


 .gotoprice-heading {
    position: absolute;
    top: 8%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family:cursive;
    font-weight: 600;
    text-align: start;
    letter-spacing: 2px;
    color: #F0F8FF;
    font-size: 40px;
    padding: 10px;
}
 
 .gotoprice-subheading {
    position: absolute;
    top: 11%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family:sans-serif;
    font-weight: 200;
    text-align: start;
    /* letter-spacing: 2px; */
    color: #F0F8FF;
    font-size: 20px;
    padding: 10px;
}
 
.quotetwo {
    font-size: 32px;
    color: #004b23;
    font-family:  cursive;
    font-weight: 600;
     text-align: center;
    margin-top: 28px;
}

.box {
    width: 100%;
    height: 1400px;
    /* margin-left: 280px; */
    padding-top: 70px;
     
     
    
}
.box1{
    width: 50%;
    height: 250px;
    background-color: #F0F8FF;
    margin-left: 70px;
    border-radius: 10px;
    border: 2px solid #004b23;
    box-shadow: 0 0 6px 3px #004b23;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box1-img {
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 10px;
    height: 350px;
    border-radius: 12px;
    padding: 2px;
    object-fit: contain;
    
}

.box1-img:hover {
    width: 320px;
    height: 370px;
}

.box2-img {
    width: 250px;
   margin-left: 50px;
   margin-top: 30px;
    height: 320px;
    border-radius: 12px;
    padding: 2px;
    object-fit: contain;
    
}
.box2-img:hover {
    width: 272px;
    height: 342px;
}

.box3-img {
    width: 250px;
    margin-top: 5px;
    margin-left: 10px;
    height: 330px;
    border-radius: 12px;
    padding: 2px;
    object-fit: contain;
}
.box3-img:hover {
    width: 272px;
    height: 352px;
}
.box4-img {
    width: 300px;
    margin-top: 30px;
    margin-right: 25px;
    height: 350px;
    border-radius: 12px;
    padding: 2px;
    object-fit: contain;
}

.box4-img:hover {
    width: 322px;
    height: 372px;
}

 

.box2 {
    width: 50%;
    height: 250px;
    background-color: #F0F8FF;
    margin-top: 40px;
    margin-left: 600px;
    border-radius: 10px;
    border: 2px solid #004b23;
    box-shadow: 0 0 6px 3px #004b23;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

 
.box3{
    width: 50%;
    height: 250px;
    background-color: #F0F8FF;
    margin-top: 40px;
    margin-left: 70px;
    border-radius: 10px;
    border: 2px solid #004b23;
    box-shadow: 0 0 6px 3px #004b23;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 

.box4{
    width: 50%;
    height: 250px;
    background-color: #F0F8FF;
    margin-top: 40px;
    margin-left: 600px;
    border-radius: 10px;
    border: 2px solid #004b23;
    box-shadow: 0 0 6px 3px #004b23;
    display: grid;
    grid-template-columns: 1fr 1fr
}
 


.box1-content {
    padding: 20px;
    margin-top: 10px;
}
.content1 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}
.button1 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    width: 115px;
    padding: 3px;
    border: 2px solid #004b23;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 70px;
    background-color: #F0F8FF;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px #004b23;
}

.button1:hover {
    background-color: #004b23;
    color: #F0F8FF;
    border: 2px solid #F0F8FF;
     
}

.box2-content {
    padding: 20px;
    margin-top: 10px;
    margin-left: 25px;
    
}

.content2 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.button2 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    width: 115px;
    padding: 3px;
    border: 2px solid #004b23;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #F0F8FF;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px #004b23;
}

.button2:hover {
    background-color: #004b23;
    color: #F0F8FF;
    border: 2px solid #F0F8FF;
}

.box3-content {
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.content3 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.button3 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    width: 115px;
    padding: 3px;
    border: 2px solid #004b23;
    border-radius: 8px;
    margin-top: 27px;
    margin-left: 60px;
    background-color: #F0F8FF;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px #004b23;
}

.button3:hover {
    background-color: #004b23;
    color: #F0F8FF;
    border: 2px solid #F0F8FF;
}


.box4-content {
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.content4 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.button4 {
    color: #004b23;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    width: 115px;
    padding: 3px;
    border: 2px solid #004b23;
    border-radius: 8px;
    margin-top: 2px;
    margin-left: 100px;
    background-color: #F0F8FF;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px #004b23;
}

.button4:hover {
    background-color: #004b23;
    color: #F0F8FF;
    border: 2px solid #F0F8FF;
}