.herosection {
  height: 100vh;
  background-image: url("src/assets/images/herosection.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 20px 20px 0;
}

.herosection-content {
  height: 100%;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 100px;
}

.highlight {
  /* background-image: url("src/assets/images/ocean.jpg"); */
  letter-spacing: -3px;
  color: transparent;
  background-clip: text;
 font-family: cursive;
  margin-top: 8px;
  background-color: #004b23;
  /* /* color: #004b23;  */
  font-weight: 600;
  font-size: 50px;
  position: relative;
  display: inline-block;
  margin: 0 0.5rem;
  
  /* animation: wobbleAnimation 1s infinite;  */
}
/* 
@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
} 
 */

 

 

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding-left: 50px;

  p {
    display: flex;
    color: #004b23;
    width: auto;
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
  }
}

.learn-more-button {
  height: 40px;
  width: 90px;
  background-color: #004b23;
  color: #e9efe7;
  font-weight: 320;
  padding: 2px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
}


.learn-more-button:hover {
  background-color: #e9efe7;
  color: #004b23;
  border: 2px solid #004b23;
}