 

.price-list-five {
   
    width: 100%;
    height: 550px;
    margin-top: 1px;
    background-image: url(../assets/images/info-section.png);
    padding: 20px;
    text-align: center;
}


.price-list-five h2 {
    color: #007f57;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 600;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}



.pricelist-five-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-left: 320px;
}

.pricelist-five-table th,
.pricelist-five-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
}

.pricelist-table-five th {
  background-color: #f2f2f2;
  color: #333;
}

 

.pricelist-table-five tr:hover {
  background-color: #ddd;
}

.pricelist-five-table th,
.pricelist-five-table td {
  text-align: left;
}